* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}
html {
    scroll-behavior: smooth;
}
body {
    line-height: 1.6;
    background-color: #F8FAFC;
    color: #334155;
}
header{
    background-color: inherit;
    padding: 1rem 2rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
.container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.logoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #2563EB;
    font-size: 2em;
    font-weight: 700;
    cursor: pointer;
}
.logo {
    border-radius: 50%;
    background-color: #2563EB;
    margin: 8px;
    padding: 20px;
    position: relative;
    overflow: hidden;
}
.logo::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60%;
    height: 60%;
    border-radius: 50%;
    background-color: #F8FAFC;
    transform: translate(-50%, -50%);
}
.navLinks {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}
.navLinks li {
    margin: 8px;
    cursor: pointer;
}
.navLinks a {
    text-decoration: none;
    color: #334155;
    transition: color .3s ease-in;
}
.navLinks :hover {
    color: #2563EB;
}