* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}
html {
    scroll-behavior: smooth;
}
body {
    line-height: 1.6;
    background-color: #F8FAFC;
    color: #334155;
}
header{
    background-color: inherit;
    padding: 1rem 2rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.logoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #2563EB;
    font-size: 2em;
    font-weight: 700;
    cursor: pointer;
}
.logo {
    border-radius: 50%;
    background-color: #2563EB;
    margin: 8px;
    padding: 20px;
    position: relative;
    overflow: hidden;
}
.logo::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60%;
    height: 60%;
    border-radius: 50%;
    background-color: #F8FAFC;
    transform: translate(-50%, -50%);
}
.navLinks {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}
.navLinks li {
    margin: 8px;
    cursor: pointer;
}
.navLinks a {
    font-weight: 700;
    text-decoration: none;
    color: #334155;
    transition: color .3s ease-in;
}
.navLinks :hover {
    color: #2563EB;
}
.mobile {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 350px;
    z-index: 1000;
    background-color: #f8fafc49;
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    transition: display .3s ease-in-out;
}
.mobile li{
    width: 100%;
    padding: 15px 20px;
    font-weight: 700;
    text-align: left;
}
.mobile a {
    width: 100%;
}
.menu {
    font-size: 1.5rem;
}
.menuBar {
    display: none;
}
.Hero {
    height: 100vh;
    background: linear-gradient(rgba(15,23,42,0.8), rgba(15,23,42,0.8)), url(images/Beacon\ Background.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #F8FAFC;
    text-align: center;
    padding: 0 20px;
}
.Hero h1 {
    font-size: 3em;
    margin-bottom: 20px;
}
h1 span {
    color: #2563EB;
}
.Hero p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}
.Hero button {
    padding: 10px 20px;
    margin: 20px 0;
    background-color: #2563EB;
    color: #F8FAFC;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    font-weight: 700;
    transition: background-color .3s ease-in, transform .3s ease-in;
}
.Hero button:hover {
    background-color: #1D4ED8;
    transform: translateY(-5px);
}
.Features {
    display: flex;
    flex-direction: column;
    padding: 40px 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 10px 0;
}
.Features::before {
    content: '';
    display: block;
    margin-top: -60px;
    height: 100px;
    visibility: hidden;
    pointer-events: none;
}
.FeaturesDesc h2 {
    font-size: 2rem;
    color: hsl(0, 0%, 15%);
    margin: 20px;
}
.FeaturesDesc p {
    font-size: 1.2em;
}
.FeaturesContainers {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 20px;
}
.FeaturesContainer {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 300px;
    align-items: center;
    padding: 20px;
    border: none;
    border-radius: 10px;
    background-color: #2564eb38;
    transition: transform .3s ease-in, box-shadow .3s ease-in;
}
.FeaturesContainer:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}
.pulseContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 120px;
    margin: 20px 0;
    overflow: hidden;
}
.pulse {
    padding: 50px;
    border-radius: 50%;
    background-color: #2564eb38;
    position: relative;
    overflow: hiddden;
    animation: pulse 1s infinite alternate;
}
.pulse::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    height: 60%;
    width: 60%;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    background-color: #2563EB;
}
.Mechanism,
.Pricing {
    background-color: #2564eb1c;
}
.Numbering {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    font-weight: 700;
    background-color: #2563EB;
    color: #F8FAFC;
    margin: 20px 0;
    padding: 15px 30px;
    border-radius: 50%;
}
q {
    font-style: italic;
    font-weight: 500;
    font-size: 1.2rem;
}
.profile {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 20px 0;
    width: 100%;
}
.pfp div {
    border-radius: 50%;
    width: 75px;
    height: 75px;
    vertical-align: middle;
}
.pfp div img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}
.profileDesc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
}
.profileDesc h5 {
    font-weight: 700;
    text-align: left;
}
.profileDesc p {
    font-size: 0.9rem;
    color: #334155;
    text-align: left;
}
/* .pricing-container {
    gap: 30px;
} */
.offers {
    background: #F8FAFC;
    margin: 10px;
}
.offers h2, 
.offers span {
    color: black;
    font-weight: 700;
}
.offers h2 {
    margin: 15px 0;
}
.offers span {
    font-size: 2.5rem;
}
.offers p {
    margin-bottom: 15px;
    color: hsl(215, 25%, 30%);
    font-weight: 400;
} 
.offers ul hr {
    background-color: hsl(215, 25%, 30%);
    opacity: 30%;
}
.offers ul {
    list-style: none;
    width: 90%;
}
.offers ul li {
    margin: 5px;
    padding: 5px;
    color: #334155;
}
.offers button {
    background-color: #2563EB;
    color: #fff;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    font-weight: 700;
    width: 90%;
    margin: 20px 0;
    cursor: pointer;
}
.main-offer {
    border: 2px solid #2563EB;
    position: relative;
}
.main-offer::before {
    content: 'Most Popular';
    position: absolute;
    background-color: #2563EB;
    color: #fff;
    font-size: 0.8em;
    font-weight: 700;
    border: none;
    border-radius: 20px;
    padding: 5px 10px;
    left: 50%;
    top: -12px;
    transform: translateX(-50%);
}
.Contact, 
.ContactDesc, 
.ContactContainers, 
footer {
    background-color: #0F172A;
}
.Contact {
    margin: 0;
}
.ContactDesc h2 {
    color: #fff;
    font-size: 1.8em;
    margin-bottom: 20px;
}
.ContactDesc p {
    color: #F8FAFC;
    font-size: 0.9em;
    margin-bottom: 10px;
}
.ContactDesc button {
    padding: 10px 20px;
    margin: 20px 0;
    background-color: #2563EB;
    color: #F8FAFC;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    font-weight: 700;
    transition: background-color .3s ease-in, transform .3s ease-in;
}
.ContactDesc button:hover {
    background-color: #1D4ED8;
    transform: translateY(-5px);
}
.ContactContainers {
    color: #fff;
}
.ContactContainer {
    background-color: inherit;
}
.ContactContainer ul {
    list-style-type: none;
}
.ContactContainer li {
    margin: 5px 0;
}
.socials {
    display: flex;
    gap: 5px;
    font-size: 1.5em;
}
.socials a {
    color: #2563EB;
    transition: transform .3s ease-in;
}
.socials a:hover {
    color: #1D4ED8;
    transform: scale(1.2);
}
footer {
    margin-top: 0;
    padding: 20px;
}
footer hr {
    width: 80%;
    margin: 5px auto;
    background-color: hsl(215, 25%, 30%);
    opacity: 30%;
}
footer div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}
footer div p {
    font-weight: 500;
    color: hsl(215, 25%, 30%);
}

/* Animations */

@keyframes pulse {
  0% {
    padding: 50px;
  }
  100% {
    padding: 48px;
  }
}

/* Responsiive Design */

@media  screen and (max-width: 992px) {
    .hideOnMobile {
        display: none;
    }
    .menuBar {
        display: block;
    }
}
@media  screen and (max-width: 500px) {
    .mobile {
        width: 100%;
        padding: 20px;
    }
}
